.tab-wrapper {
    border: 1px solid #ddd;
    padding: 0 10px;
}

.tab-wrapper ul {
    padding: 0;
}

.tab {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    padding-right: 20px;
    position: relative;
}

.tab > * > .tab-click {
    display: block;
    text-align: center;
    padding: 9px 20px;
    color: #999;
    border: transparent;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 12px;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
    background-color: transparent;
}

.tab > .active > .tab-click {
    color:#222;
    border-color: #1e87f0;
}

.tab-content > li::before, .tab > li::before {
    content: ""!important;
}

.tab > li > .tab-click {
    text-decoration: none;
    cursor: pointer;
}

.tab-content > li {
    display: none;
}

.tab-content > li.active {
    display: block;
}
