.language-mermaid {
  background-color: transparent;
  border: none;
}

/* Control diagram sizes */
.mermaid {
  max-width: 100%;
  max-height: 600px; /* Adjust this value as needed */
  display: block;
  margin: auto;
}

/* Specific control for flowcharts */
.mermaid[data-diagram="flowchart"] {
  max-height: 400px; /* Adjust this value for flowcharts specifically */
}

/* Add classes for different sizes */
.mermaid.diagram-small {
  max-width: 500px;
  max-height: 300px;
}

.mermaid.diagram-medium {
  max-width: 700px;
  max-height: 400px;
}

.mermaid.diagram-large {
  max-width: 900px;
  max-height: 600px;
}

/* Code block styles */
pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

.success {
  position: relative;
  background-color: #f8f8f8; /* Same as pre */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

.success::after {
  content: "✔️ Success (exit-code = 0)";
  display: block;
  color: #155724;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: right;
}

.error {
  position: relative;
  background-color: #f8f8f8; /* Same as pre */
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

.error::after {
  content: "❌ Error (exit-code = 1)";
  display: block;
  color: #721c24;
  font-size: 0.8em;
  margin-top: 5px;
  text-align: right;
}

/* Abomination styles */
.note, .tip, .warning {
  background-color: #f1f1f1; /* Same as note */
  border-left: 6px solid;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.note::before, .tip::before, .warning::before {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.note {
  border-left-color: #2196F3;
}

.note::before {
  content: "📝 NOTE ";
  color: #2196F3;
}

.tip {
  border-left-color: #ffc107;
}

.tip::before {
  content: "💡 TIP ";
  color: #b38600;
}

.warning {
  border-left-color: #f44336;
}

.warning::before {
  content: "⚠️ WARNING ";
  color: #f44336;
}
